<ion-view title="DR. SPINE" hide-back-button="true" id="page9" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div>
      <img src="img/iHifv0HDStmD3GKJlFZQ_background.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="dRSPINE2-container13" class="row">
      <div id="dRSPINE2-container15" class="col-50 padding">
        <div>
          <a style="display:block;" ui-sref="healthTips">
            <img src="img/M8KmEkVRmmMYOc8FuUhL_dock1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
      <div id="dRSPINE2-container16" class="col-50 padding">
        <div>
          <a style="display:block;" ui-sref="askDrSpine">
            <img src="img/Je58YnC0RwqySW026gFM_dock2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
    </div>
    <div id="dRSPINE2-container22" class="row">
      <div id="dRSPINE2-container20" class="col-50 padding">
        <div>
          <a style="display:block;" ui-sref="meetYourDoctors">
            <img src="img/frMGkszbQOSl8SVmTM5J_dock3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
      <div id="dRSPINE2-container21" class="col-50 padding">
        <div>
          <a style="display:block;" ui-sref="newsAndEvents">
            <img src="img/0IAntQbhT5WDjBSADqGS_dock4.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
    </div>
    <div id="dRSPINE2-container19" class="row">
      <div id="dRSPINE2-container17" class="col-50 padding">
        <div>
          <a style="display:block;" ui-sref="booking">
            <img src="img/xlxAvFYORMJsieJZAcg4_dock5.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
      <div id="dRSPINE2-container18" class="col-50 padding">
        <div>
          <a style="display:block;" ui-sref="callDrSpine">
            <img src="img/kq0CEKmMQaSpCHuGRHBx_dock6.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>