<ion-view title="Health Tip Information" id="page18">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-icon icon ion-android-search"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <h2 id="healthTipInformation-heading9" style="color:#129AE7;font-weight:400;text-align:center;">Health Tip Info</h2>
        <div id="healthTipInformation-markdown22" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;font-size:22px;">{{Topic}}</p>
        </div>
        <div id="healthTipInformation-markdown23" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">{{Date}}</p>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <div id="healthTipInformation-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;font-size:22px;">{{Header}}</p>
        </div>
        <div id="healthTipInformation-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
            <p style="color:#000000;">{{Contents}}</p>
        </div>
    </ion-content>
</ion-view>