<ion-side-menus enable-menu-with-back-views="true" style="">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#81B146;">
    <ion-content padding="true" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="menu-list3">
        <ion-item class="item-icon-left stable  top_sidebar" id="menu-list-item4" style="">
          <i class="icon ion-android-menu"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 248px; height: 11px;"></div>
      <ion-list id="menu-list1" class="manual-list-fullwidth">
        <ion-item class="item-icon-left light  menulistitem" id="menu-list-item1" ui-sref="menu.profile" menu-close="" style="">
          <i class="icon ion-university"></i>Profile</ion-item>
        <ion-item class="item-icon-left light  menulistitem" id="menu-list-item2" ui-sref="menu.theSpineClinic" menu-close="" style="">
          <i class="icon ion-network"></i>The Spine Clinic</ion-item>
        <ion-item class="item-icon-left  menulistitem" id="menu-list-item3" ui-sref="menu.rEGISTER" menu-close="" style="">
          <i class="icon ion-person-add"></i>Register</ion-item>
        <ion-item class="item-icon-left light  menulistitem" id="menu-list-item5" ui-sref="menu.aboutDrSpine" menu-close="" style="">
          <i class="icon ion-magnet"></i>About Dr. Spine</ion-item>
        <ion-item class="item-icon-left  menulistitem" id="menu-list-item6" ui-sref="menu.locateUs" menu-close="" style="">
          <i class="icon ion-ios-location"></i>Locate Us</ion-item>
        <ion-item class="item-icon-left light  menulistitem" id="menu-list-item7" ui-sref="menu.help" menu-close="" style="">
          <i class="icon ion-umbrella"></i>Help (?)</ion-item>
      </ion-list>
      <p> </p>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>