<ion-view title="Booking" id="page13" style="">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="booking-heading4" style="color: rgb(0, 0, 0); text-align: center;">Booking an Appointment</h4>
    <div id="booking-container25" class="row">
      <div id="booking-container26" class="col-20">
        <div>
          <img src="img/5dFpBpNHQMeK5GkNbgZG_msg1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div id="booking-container28" class="col-80">
        <form id="booking-form9" class="list">
          <label class="item item-input" id="booking-input14" name="fullname">
            <input placeholder="Full Name" type="text">
          </label>
        </form>
      </div>
    </div>
    <div id="booking-container31" class="row">
      <div id="booking-container29" class="col-20">
        <div>
          <img src="img/fZFrwVRwidWfeAk7fPAB_msg2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div id="booking-container30" class="col-80">
        <form id="booking-form10" class="list">
          <label class="item item-input" id="booking-input15" name="phonenumber">
            <input placeholder="Phone Number" type="tel">
          </label>
        </form>
      </div>
    </div>
    <div id="booking-container34" class="row">
      <div id="booking-container32" class="col-20">
        <div>
          <img src="img/m1t5wW1QQW8xd3uvMg0d_msg3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div id="booking-container33" class="col-80">
        <form id="booking-form11" class="list">
          <label class="item item-input" id="booking-input16" name="fullname">
            <input placeholder="Email Address" type="email">
          </label>
        </form>
      </div>
    </div>
    <div id="booking-container37" class="row">
      <div id="booking-container35" class="col-20">
        <div>
          <a style="display:block;" href="mailto:">
            <img src="img/PW5hxj7vTlWXFvuzuAUq_msg4.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
      <div id="booking-container36" class="col-80">
        <form id="booking-form12" class="list">
          <label class="item item-input" id="booking-input17" name="Appointment Date">
            <input placeholder="Full Name" type="date">
          </label>
        </form>
      </div>
    </div>
    <div id="booking-container40" class="row">
      <div id="booking-container38" class="col-20">
        <div>
          <img src="img/m8LciNzS7yEjMGJtncVg_msg5.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div id="booking-container39" class="col-80">
        <form id="booking-form16" class="list">
          <label class="item item-input" id="booking-textarea2" name="message">
            <span class="input-label"></span><textarea placeholder="Message"></textarea></label>
        </form>
      </div>
    </div>
    <a href="mailto:supprot@ldoctor.com" id="booking-button7" class="button button-positive  button-block">SEND MESSAGE</a>
  </ion-content>
</ion-view>