<ion-view title="DR. SPINE" id="page4" style="">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="dRSPINE-heading1" style="color: rgb(0, 0, 0); font-weight: 300; text-align: center;">Welcome to DR. SPINE</h4>
    <div>
      <img src="img/B1DUoB42RhyXH09VwVZV_logo_spine.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <div id="dRSPINE-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#1E769A;">Your Mobile Spine Clinic</p>
    </div>
    <div id="dRSPINE-container1" class="row">
      <div id="dRSPINE-container2" class="col-50 padding">
        <a ui-sref="lOGIN" id="dRSPINE-button1" class="button button-positive  button-block">Sign In</a>
      </div>
      <div id="dRSPINE-container3" class="col-50 padding">
        <a ui-sref="menu.rEGISTER" id="dRSPINE-button2" class="button button-balanced  button-block">Register</a>
      </div>
    </div>
  </ion-content>
</ion-view>