<ion-view title="DR.PINE" id="page9" style="">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="false" scroll="false" class="has-header">
    <div>
      <img src="img/EGEwWG9QOKL7SEJIbdrQ_background.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="dRPINE-container2" class="row">
      <div id="dRPINE-container4" class="col-50">
        <div class="padding">
          <img src="img/SIBH9ghTQZ6quXiHOrt6_dock1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div id="dRPINE-container6" class="col-50">
        <div class="padding">
          <img src="img/0jGCW0NzTU2C3eIliB6l_dock2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
    </div>
    <div id="dRPINE-container9" class="row">
      <div id="dRPINE-container7" class="col-50">
        <div class="padding">
          <img src="img/tAhObHDSyeo5U7PQ5MOw_dock3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div id="dRPINE-container8" class="col-50">
        <div class="padding">
          <img src="img/DGJFLtKyR8CrpfVkSJJe_dock4.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
    </div>
    <div id="dRPINE-container12" class="row">
      <div id="dRPINE-container10" class="col-50">
        <div class="padding">
          <a style="display:block;" ui-sref="drSpine">
            <img src="img/p66HZ6wDTLiQZgvSpBV4_dock5.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
      </div>
      <div id="dRPINE-container11" class="col-50">
        <div class="padding">
          <img src="img/4Lg6tpJShm5qJfBeMpMO_dock6.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>