<ion-view title="DR. SPINE" id="page10" style="">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div id="dRSPINE4-button-bar1" class="button-bar">
      <button id="dRSPINE4-button9" style="font-weight:500;font-size:9px;" class="button button-positive  button-block">Health Tips</button>
      <button id="dRSPINE4-button10" style="font-size:9px;" class="button button-positive  button-block">Meet Doctor</button>
      <button id="dRSPINE4-button11" style="font-size:9px;" class="button button-positive  button-block">Ask Dr. Spine</button>
    </div>
    <div class="list card" id="dRSPINE4-card21">
      <ion-item class="item-avatar" id="dRSPINE4-list-item3" style="">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="dRSPINE4-list-item-container3" style="">
        <div id="dRSPINE4-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="dRSPINE4-list-item4" style="">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>