<ion-view title="Dr. Spine" id="page11" style="">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="width: 285px; height: 10px;"></div>
    <div id="drSpine-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">
        <strong>Book an Appointment</strong>
      </p>
    </div>
    <div class="spacer" style="width: 285px; height: 10px;"></div>
    <div id="drSpine-container14" class="row">
      <div id="drSpine-container15" class="col-20">
        <div>
          <img src="img/xfpYCoEaSXmwV60qAoEB_msg1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <form id="drSpine-form4" class="list">
        <label class="item item-input" id="drSpine-input9" name="fullname">
          <input placeholder="Full Name" type="text">
        </label>
      </form>
    </div>
    <div id="drSpine-container18" class="row">
      <div id="drSpine-container17" class="col-20">
        <div>
          <img src="img/xfpYCoEaSXmwV60qAoEB_msg1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <form id="drSpine-form5" class="list">
        <label class="item item-input" id="drSpine-input10" name="phone">
          <input placeholder="Phone Number" type="tel">
        </label>
      </form>
    </div>
    <div id="drSpine-container20" class="row">
      <div id="drSpine-container19" class="col-20">
        <div>
          <img src="img/xfpYCoEaSXmwV60qAoEB_msg1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <form id="drSpine-form6" class="list">
        <label class="item item-input" id="drSpine-input11" name="email">
          <input placeholder="Email Address" type="email">
        </label>
      </form>
    </div>
    <div id="drSpine-container22" class="row">
      <div id="drSpine-container21" class="col-20">
        <div>
          <img src="img/xfpYCoEaSXmwV60qAoEB_msg1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <form id="drSpine-form7" class="list">
        <label class="item item-input" id="drSpine-input12" name="adate">
          <input placeholder="Appointment Date" type="date">
        </label>
      </form>
    </div>
    <div id="drSpine-container24" class="row">
      <div id="drSpine-container23" class="col-20">
        <div>
          <img src="img/xfpYCoEaSXmwV60qAoEB_msg1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <form id="drSpine-form14" class="list">
        <label class="item item-input" id="drSpine-textarea4" name="msg">
          <span class="input-label"></span><textarea placeholder="Message"></textarea></label>
      </form>
    </div>
    <div class="spacer" style="width: 285px; height: 15px;"></div>
    <button id="drSpine-button12" class="button button-positive  button-block">Send Message</button>
  </ion-content>
</ion-view>