<ion-view title="DR. SPINE" hide-back-button="true" id="page3" style="background-color: rgb(29, 88, 126);">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="width: 285px; height: 14px;"></div>
    <div id="dRSPINE3-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FEFEFE;font-size:22px;">
        <strong>CREATE AN ACCOUNT </strong>
      </p>
    </div>
    <form id="dRSPINE3-form2" class="list">
      <ion-list id="dRSPINE3-list2">
        <label class="item item-input height: 20px;" id="dRSPINE3-input3" name="fname">
          <input placeholder="First Name" type="text">
        </label>
        <label class="item item-input" id="dRSPINE3-input4" name="lname">
          <input placeholder="Last Name" type="text">
        </label>
        <label class="item item-input" id="dRSPINE3-input5" name="email">
          <input placeholder="Email Address" type="email">
        </label>
        <label class="item item-input" id="dRSPINE3-input6" name="password1">
          <input placeholder="Password" type="password">
        </label>
        <label class="item item-input" id="dRSPINE3-input7" name="password2">
          <input placeholder="Repeat Password" type="password">
        </label>
        <label class="item item-input" id="dRSPINE3-input8" name="date">
          <input placeholder="Date" type="date">
        </label>
        <ion-radio id="dRSPINE3-radio1" name="gender">Man</ion-radio>
        <ion-radio id="dRSPINE3-radio3" name="gender">Woman</ion-radio>
      </ion-list>
      <button id="dRSPINE3-button5" style="color:#FFFFFF;" class="button button-balanced  button-block">REGISTER</button>
    </form>
  </ion-content>
</ion-view>