<ion-view title="Ask Dr. Spine" id="page12">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="askDrSpine-button-bar3" class="button-bar">
      <a ui-sref="healthTips" id="askDrSpine-button18" style="font-weight:lighter;font-size:12px;" class="button button-positive  button-block">Health Tip</a>
      <a ui-sref="meetYourDoctors" id="askDrSpine-button19" style="font-weight:lighter;font-size:9px;" class="button button-positive  button-block">Meet Doctor</a>
      <button id="askDrSpine-button20" style="font-weight:lighter;font-size:9px;" class="button button-balanced  button-block">Ask Dr. Spine</button>
    </div>
    <div id="askDrSpine-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ask Dr Spine Any Question</p>
    </div>
    <div class="spacer" style="width: 285px; height: 10px;"></div>
    <form id="askDrSpine-form17" class="list">
      <label class="item item-input" id="askDrSpine-input19">
        <input type="text" placeholder="Subject">
      </label>
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input questionText" id="askDrSpine-textarea3" name="question">
        <span class="input-label"></span><textarea placeholder="Type Question Here"></textarea></label>
      <div id="askDrSpine-container50" class="row">
        <div id="askDrSpine-container51" class="col-50 padding">
          <button id="askDrSpine-button23" style="font-weight:lighter;" class="button button-positive  button-block">Clear All</button>
        </div>
        <div id="askDrSpine-container52" class="col-50 padding">
          <button id="askDrSpine-button24" class="button button-balanced  button-block">Send Que</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>