<ion-view title="Health Tips" id="page10">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="healthTips-button-bar1" class="button-bar">
      <button id="healthTips-button12" style="font-weight:lighter;font-size:12px;" class="button button-balanced  button-block">Health Tip</button>
      <a ui-sref="meetYourDoctors" id="healthTips-button13" style="font-weight:lighter;font-size:9px;" class="button button-positive  button-block">Meet Doctor</a>
      <a ui-sref="askDrSpine" id="healthTips-button14" style="font-weight:lighter;font-size:9px;" class="button button-positive  button-block">Ask Dr. Spine</a>
    </div>
    <div id="healthTips-container41">
      <h4 id="healthTips-heading5" style="color:#000000;">HeadLine/Topic Here</h4>
      <div id="healthTips-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date and Time published</p>
      </div>
      <ion-list id="healthTips-list10">
        <ion-item class="item-thumbnail-left" id="healthTips-list-item18">
          <h2>header</h2>
          <p style="white-space:normal;">Here is some tip about action.</p>
        </ion-item>
      </ion-list>
      <div id="healthTips-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#3852D8;">(Tap to open main story page)</p>
      </div>
    </div>
    <div id="healthTips-container42">
      <h4 id="healthTips-heading6" style="color:#000000;">HeadLine/Topic Here</h4>
      <div id="healthTips-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date and Time published</p>
      </div>
      <ion-list id="healthTips-list11">
        <ion-item class="item-thumbnail-left" id="healthTips-list-item19">
          <h2>header</h2>
          <p style="white-space:normal;">Here is some tip about action.</p>
        </ion-item>
      </ion-list>
      <div id="healthTips-markdown11" class="show-list-numbers-and-dots">
        <p style="color:#3852D8;">(Tap to open main story page)</p>
      </div>
    </div>
  </ion-content>
</ion-view>