<ion-view title="LOGIN" id="page1" style="background-color:#093149;">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div>
      <img src="img/U4CDsoluS8CqN3tEouyZ_logo_placehold.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <form id="lOGIN-form2" class="list">
      <label class="item item-input" id="lOGIN-input4" name="email">
        <input type="email" placeholder="Email Address">
      </label>
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="lOGIN-input5" name="password">
        <input type="password" placeholder="password">
      </label>
      <div class="spacer" style="height: 20px;"></div>
      <button id="lOGIN-button5" class="button button-positive  button-block">LOGIN</button>
      <div id="lOGIN-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#9FE45D;">Forgot Password?</p>
      </div>
    </form>
  </ion-content>
</ion-view>