<ion-view title="Meet your Doctors" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="meetYourDoctors-button-bar2" class="button-bar">
      <a ui-sref="healthTips" id="meetYourDoctors-button15" style="font-weight:lighter;font-size:12px;" class="button button-positive  button-block">Health Tip</a>
      <button id="meetYourDoctors-button16" style="font-weight:lighter;font-size:9px;" class="button button-balanced  button-block">Meet Doctor</button>
      <a ui-sref="askDrSpine" id="meetYourDoctors-button17" style="font-weight:lighter;font-size:9px;" class="button button-positive  button-block">Ask Dr. Spine</a>
    </div>
    <div id="meetYourDoctors-container43" class="row">
      <div id="meetYourDoctors-container46" class="col-50">
        <div>
          <img src="img/jo7rRS7yQSe9a28uy1IK_background.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div id="meetYourDoctors-container45" class="col-50">
        <div id="meetYourDoctors-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">(Full name)</p>
        </div>
        <div class="spacer" style="width: 137.5px; height: 20px;"></div>
        <div id="meetYourDoctors-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">(Specialty)</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 285px; height: 22px;"></div>
    <div id="meetYourDoctors-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is design dsfsdfsdfsdfdsf dsf dsf sd f sdf sdf ds fsd f dsf sdf sd f
      </p>
    </div>
    <div id="meetYourDoctors-container47" class="row">
      <div id="meetYourDoctors-container49" class="col-50 padding">
        <button id="meetYourDoctors-button21" style="font-weight:lighter;font-size:10px;" class="button button-positive  button-block">Ask Dr. Question</button>
      </div>
      <div id="meetYourDoctors-container48" class="col-50 padding">
        <a ui-sref="viewAnswers" id="meetYourDoctors-button22" style="font-weight:lighter;font-size:11px;" class="button button-balanced  button-block">View Answers</a>
      </div>
    </div>
  </ion-content>
</ion-view>