<ion-view title="REGISTER" id="page2" style="background-color:#093149;">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <h3 id="rEGISTER-heading2" style="color:#FFFFFF;text-align:center;">CREATE AN ACCOUNT</h3>
    <div class="spacer" style="height: 10px;"></div>
    <form id="rEGISTER-form3" class="list">
      <label class="item item-input" id="rEGISTER-input7" name="fname">
        <input type="text" placeholder="First Name">
      </label>
      <div class="spacer" style="height: 5px;"></div>
      <label class="item item-input" id="rEGISTER-input8" name="lname">
        <input type="text" placeholder="Last Name">
      </label>
      <div class="spacer" style="height: 5px;"></div>
      <label class="item item-input" id="rEGISTER-input9" name="email">
        <input type="email" placeholder="E-mail Adress">
      </label>
      <div class="spacer" style="height: 5px;"></div>
      <label class="item item-input" id="rEGISTER-input10" name="pwd1">
        <input type="password" placeholder="Password">
      </label>
      <div class="spacer" style="height: 5px;"></div>
      <label class="item item-input" id="rEGISTER-input11" name="pwd2">
        <input type="password" placeholder="Repeat Password">
      </label>
      <div class="spacer" style="height: 5px;"></div>
      <div id="rEGISTER-container9" class="row">
        <div id="rEGISTER-container10" class="col-50 padding">
          <form id="rEGISTER-form6" class="list">
            <label class="item item-input" id="rEGISTER-input13" name="birthday">
              <input type="date" placeholder="Date of Birth">
            </label>
          </form>
        </div>
        <div id="rEGISTER-container11" class="col-50 padding">
          <form id="rEGISTER-form7" class="list">
            <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="rEGISTER-toggle7" name="gender" class="\">Gender</ion-toggle>
          </form>
        </div>
      </div>
      <button id="rEGISTER-button6" class="button button-balanced  button-block">REGISTER</button>
    </form>
  </ion-content>
</ion-view>