<ion-view title="View Answers" id="page16">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h3 id="viewAnswers-heading7" style="color:#000000;font-weight:300;text-align:center;">USER-DOCTOR PLATFORM</h3>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="viewAnswers-list5">
      <ion-item class="item-icon-left item-icon-right assertive" id="viewAnswers-list-item8">
        <i class="icon ion-android-contact"></i>Question
        <i class="icon ion-medkit"></i>
      </ion-item>
    </ion-list>
    <div id="viewAnswers-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#EC0B0B;">Status: Yet To be Answered</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="viewAnswers-list6">
      <ion-item class="item-icon-left item-icon-right balanced" id="viewAnswers-list-item9">
        <i class="icon ion-android-contacts"></i>Question
        <i class="icon ion-checkmark"></i>
      </ion-item>
    </ion-list>
    <div id="viewAnswers-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#2ACA3C;">Status: Answered (2015-10-5)</p>
    </div>
  </ion-content>
</ion-view>